<div class="container">
    <div class="row">
        <div class="card bg-light" style="width: 100%; margin-top: 30px;">
            <div class="card-body" style="padding: 0;">
                <form>
                    <div class="form-row">
                        <div class="col col-md-3">
                            <md-input-container md-no-float class="md-block" style="margin-bottom: 0;">
                            <md-datepicker ng-model="journalizing.datetime" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="col col-md-1">
                            <md-input-container md-no-float class="md-block">
                            <md-select ng-model="journalizing.option">
                                <md-option ng-repeat="option in optionList" value="{{option.name}}">
                                    {{option.name}}
                                </md-option>
                            </md-select>
                            </md-input-container>
                        </div>
                        <div class="col col-md-2">
                            <md-input-container md-no-float class="md-block">
                            <md-select ng-model="journalizing.category">
                                <md-option ng-repeat="category in categoryList" value="{{category._id}}">
                                    {{category.name}}
                                </md-option>
                            </md-select>
                            </md-input-container>
                        </div>
                        <div class="col col-md-2">
                            <md-input-container md-no-float class="md-block" style="margin-bottom: 0;">
                                <input ng-model="journalizing.amount" type="number" step="1">
                            </md-input-container>
                        </div>
                        <div class="col col-md-3">
                            <md-input-container md-no-float class="md-block" style="margin-bottom: 0;">
                                <input type="text" ng-model="journalizing.description">
                            </md-input-container>
                        </div>
                        <div class="col col-md-1">
                            <md-input-container md-no-float class="md-block">
                            <button type="button" class="btn" ng-click="addJournalizing()">+</button>
                            </md-input-container>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr style="width: 100%;">
    {{journalizingList}}
    <div class="row">
        <div class="card bg-light" style="width: 100%;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush" ng-repeat="item in journalizingList track by $index">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-md-2">
                            {{item.datetime | date : 'yyyy-MM-dd'}}
                        </div>
                        <div class="col col-md-1">
                            {{item.option}}
                        </div>
                        <div class="col col-md-2">
                            {{item.category.name}}
                        </div>
                        <div class="col col-md-2">
                            {{item.amount}}
                        </div>
                        <div class="col col-md-2">
                            {{item.description}}
                        </div>
                        <div class="col col-md-2">
                            {{item.createdAt | date : 'yyyy-MM-dd'}}
                        </div>
                        <div class="col col-md-1 text-center">
                            <!--<button class="btn btn-outline-success btn-sm" ng-click="editCategory($index)">Edit</button>-->
                            <button class="btn btn-outline-danger btn-sm" ng-click="removeJorunalizing(item)">Remove</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

