<div class="container">
    <div class="row">
        <div class="card bg-light" style="width: 100%; margin-top: 30px;">
            <div class="card-body" style="padding: 0;">
                <form>
                    <div class="form-row">
                        <div class="col col-md-3">
                            <md-input-container md-no-float class="md-block" style="margin-bottom: 0;">
                            <md-datepicker ng-model="journalizing.datetime" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="col col-md-1">
                            <md-input-container md-no-float class="md-block">
                            <md-select ng-model="journalizing.option">
                                <md-option ng-repeat="option in optionList" value="{{option.id}}">
                                    {{option.name}}
                                </md-option>
                            </md-select>
                            </md-input-container>
                        </div>
                        <div class="col col-md-2">
                            <md-input-container md-no-float class="md-block">
                            <md-select ng-model="journalizing.account">
                                <md-option ng-repeat="category in categoryList" value="{{category._id}}">
                                    {{category.name}}
                                </md-option>
                            </md-select>
                            </md-input-container>
                        </div>
                        <div class="col col-md-5">
                            <md-input-container md-no-float class="md-block" style="margin-bottom: 0;">
                                <input type="text" ng-model="journalizing.description">
                            </md-input-container>
                        </div>
                        <div class="col col-md-1">
                            <md-input-container md-no-float class="md-block">
                            <button type="button" class="btn" ng-click="addJournalizing()">+</button>
                            </md-input-container>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr style="width: 100%;">

    <div class="row">
        <div class="card text-white bg-dark" style="width: 100%;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush" ng-repeat="journalizing in journalizingList track by $index">
                <li class="list-group-item">
                    <div class="row" ng-if="item.editable == undefined || item.editable == false">
                        <div class="col col-md-2">
                            {{item.name}}
                        </div>
                        <div class="col col-md-5">
                            {{item.description}}
                        </div>
                        <div class="col col-md-3">
                            {{item.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}
                        </div>
                        <div class="col col-md-2 text-center">
                            <button class="btn btn-outline-success btn-sm" ng-click="editCategory($index)">Edit</button>
                            <button class="btn btn-outline-danger btn-sm" ng-click="removeCategory(item)">Remove</button>
                        </div>
                    </div>

                    <form ng-if="item.editable == true">
                        <div class="form-row">
                            <div class="col col-md-2">
                                <input type="text" class="form-control" placeholder="Name" ng-model="item.name">
                            </div>
                            <div class="col col-md-5">
                                <input type="text" class="form-control" placeholder="Description" ng-model="item.description">
                            </div>
                            <div class="col col-md-3">
                                <!--{{item.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}-->
                                <input type="text" class="form-control" placeholder="Description" ng-model="item.createdAt | date: 'yyyy-MM-dd HH:mm:ss'" disabled>
                                <!--<input type="datetime-local" class="form-control" placeholder="Description" ng-model="item.createdAt" disabled>-->
                            </div>
                            <div class="col col-md-2 text-center">
                                <button type="button" class="btn btn-outline-info btn-sm" ng-click="updateCategory(item)">Update</button>
                                <button type="button" class="btn btn-outline-info btn-sm" ng-click="cancelEditCategory($index)">Cancel</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>